body
{
background: #fff;
font-family: Roboto, sans-serif;
}

.texthead
{
	color: #921E4E;
	font-size: 170px;
}

.text{
	color: #050102;
	font-size: 37px;
}

.text1
{
	color: #050102;
	font-size: 37px;
}

