/*Styling the "Show More" button*/
button {
    background-color: #641f3c;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 2px;
    border-radius: 25px; /*rounded corners for button*/
    cursor: pointer;
    font-weight: 400;
}