<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/addapartments" enctype="multipart/form-data">
        <input type="text" name="title">
        <input type="text" name="city">
        <input type="radio" name="furnished">
        <input type="text" name="bedrooms">
        <input type="text" name="price_range">
        <input type="file" name="photo">
        <input type="submit">
    </form>
</body>
</html>