{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <ul class="nav nav-pills" style="margin-right: 0px; list-style-type: none;">
            <li class="active" style="margin: 10px;">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li style="margin: 10px;">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li style="margin: 10px;">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li style="margin: 10px;">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
        </ul>
    </div>

    <br>
    <br>

    <div class="container">
      {%for i in range(0, length)%}
        <div class="row card-deck">
          <div class="col-md-8 col-sm-6 d-flex align-items-stretch">
            <div class="card text-left" style="margin: 5px;">
              <img src="{{url_for('file', filename=apartments[i].image_name )}}" class="card-img-left" alt="Modern Apartment near Austin" style="object-fit: cover; width: 100%; height: 20vh;">
              <div class="card-body" style="margin:0px;">
                <p class="card-text">{{ apartments[i].title }}</p>
              </div>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
{% endblock content %}