<!-- HTML code for the bio page -->

{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bio.css')}}"/>

<div class="container">
  <form method="POST" style="padding-top: 4%; width:100%;">
    <ul class="flex-outer" style="width: 100%; margin: auto; ">
      <li>
        <label for="movein">Move In</label>
         <select name="movein" id="movein">
            <option value="Immediately">Immediately</option>
            <option value="Within a month">Within a month</option>
            <option value="Within 3 months">Within 3 months</option>
        </select>
      </li>
      <li>

          <label for="clean">Cleanliness Level</label>
          <select name="clean" id="clean" value="{{ user['clean'] }}">
            <option value="I can be a bio hazard">I can be a bio hazard</option>
            <option value="I keep common spaces clean">I keep common spaces clean</option>
            <option value="I am a dirt-o-phobe">I'm a dirt-o-phobe</option>
          </select>
      </li>

      <li>
          <label for="weekend_activity">On weekends I .. </label>
          <select name="weekend_activity" id ="weekend_activity" value="{{ user['weekend_activity'] }}">
            <option value="Stay In">I stay in on weekends</option>
            <option value="What is a weekend?">What is a weekend? </option>
            <option value="Go Out">i like to go out on weekends</option>
          </select>
      </li>

      <li>
          <label for="bug"> Bug-friendliness </label>
          <select name="bug" id="bug">
            <option value="Scream at them!">Bugs! Scream at them! </option>
            <option value="Kill them!"> Bugs! Kill them! </option>
            <option value="They are gross but I have a no kill policy">Bugs are gross but I have a no kill policy </option>
          </select>
      </li>

      <li>
        <label for="pet">Pet friendliness </label>
          <select name="pet" id="pet">
            <option value="Bring on the cuddles!">Bring on the cuddles! </option>
            <option value="I am cool with pets"> I'm cool with pets </option>
            <option value="Ever heard of allergies?"> Ever heard of allergies? </option>
            <option value="Do not like them, do not want them"> Don't like pets, don't want pets </option>
          </select>
      </li>
      <li>
          <label for="bio" >My Bio </label>
          <textarea id = "bio" rows="6" cols="50" name="bio" style="padding: 2px">

          </textarea>
      </li>

      <li>
        <p>AGE</p>
          <ul class = "flex-inner">
        <li>
            <input type="radio" id="18-21" name="age" value="18-21" >
            <label for="range_one">18 - 21 </label>
        </li>
        <li>
            <input type="radio" id="22-25" name="age" value="22-25">
            <label for="range_two"> 22 - 25 </label>
        </li>
        <li>
            <input type="radio" id="26-30" name="age" value="26-30">
            <label for="range_three"> 26 - 30 </label>
        </li>
        <li>
            <input type="radio" id="30+" name="age" value="30+">
            <label for="range_four"> 30+ </label>
        </li>
        </ul>
        </li>

        <li>
        <button type="submit" onclick="bio_info()" >Submit</button>
        </li>
    </ul>
  </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
        document.getElementById('movein').value = "{{ user['movein'] }}";
        document.getElementById('clean').value = "{{ user['clean'] }}";
        document.getElementById('weekend_activity').value = "{{ user['weekend_activity'] }}";
        document.getElementById('bug').value = "{{ user['bug'] }}";
        document.getElementById('pet').value = "{{ user['pet'] }}";
        document.getElementById('bio').value = "{{ user['bio']}}.";

    }
)
var age = "{{ user['age'] }}";
</script>

{% endblock content %}