{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notfound.css')}}" type="text/css" >
<title>404 Page</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6"><p class="texthead" style="margin-top: 20%; ">404</p></div>
			<div class="col-md-6"><img src="static/images/BrokenMascot.png" alt="Homer" style="margin-top: 20%; "></div>
		</div>
		<p class="text">Oops! <br> Something's not right</p>
	</div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock content %}
