{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">

                <div class="side-bar">
                    <div class="user-info">
                        <!-- section of code to edit the profile picture -->
                        <form method="POST" action="/profilepic" enctype="multipart/form-data">
                            <img class= "img-profile img-circle img-responsive center-block" src="{{url_for('file', filename=user.photo)}}" onerror="this.src='static/images/avatar.jpeg'">

                         <ul class="meta list list-unstyled">
                             <li class="name">Edit
                                <i class="fa fa-camera upload-button"></i>
                                <input class="file-upload" type="file" accept="image/*" name="photo"/>
                              </li>
                             <li>
                                 <input class="btn btn-primary" style="background-color: #21b25b;color:white;" type="submit" href="#" value="Apply" role="button"/>
                            </li>
                        </ul>
                        </form>

                        <div id="homer_profile">
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="card" style="width: 10rem;">
                              <img src="{{ url_for('static',filename='images/Homer.jpeg') }}" class="card-img-top" alt="Mascot">
                              <div class="card-body">
                                <h5 class="card-title">Hello folks!</h5>
                                <p class="card-text">Make sure to fill out your bio to let your homies know you better!</p>
                              </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="content-panel">
                    <h2 class="title">Profile</h2>
                    <form class="form-horizontal" method="POST">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <div class="form-group avatar">


                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">First Name*</label>
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <input name="f_name" type="text" class="form-control" value="{{ user['first_name'] }}" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name*</label>
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <input name="l_name" type="text" class="form-control" value="{{ user['last_name'] }}" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Sex*</label>
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <input name="gender" type="radio" id="male" value="male" name=male">&nbsp;Male &nbsp; &nbsp;
                                    <input name="gender" name="female" id="female" value="female" type="radio" required="required"/>&nbsp;Female &nbsp;
                                    <input name="gender" name="Choose to not disclose" id="nd" value="Choose to not disclose" type="radio" required="required"/>&nbsp;Choose to not disclose
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset" style="margin-top: 5%;">
                            <h3 class="fieldset-title">Contact Info</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email*</label>
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <input name="email_id" type="email" class="form-control" value="{{ user['email'] }}" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Location*</label>
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <input name="location" type="text" class="form-control" value="{{ user['location'] }}" required="required">
                                </div>
                            </div>

                        </fieldset>
                        <hr>
                        <div class="form-group" style="margin-bottom: 3.5rem;">
                            <div class="col-md-12 col-sm-9 col-xs-12 ">
                                <input class="btn btn-primary" type="submit" style="float:left;background-color: #21b25b;" value="Update Profile">
                                <a class="btn btn-primary" style="float:right;background-color: #21b25b;" href="bio" role="button">Update Bio</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
            var gender = "{{ user['gender'] }}";
</script>

{% endblock content %}